<form method="POST" action="/messages/<%=message.id%>/edit">
  <div class="mb-3">
    <label for="user" class="form-label">Your Name</label>
    <input value = "<%=message.user%>" type="text" class="form-control" id="user" name="user" required>
  </div>
  <div class="mb-3">
    <label for="message" class="form-label">Your Message</label>
    <textarea class="form-control" id="message" name="text" rows="3" required  ><%= message.text%></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit Message</button>
</form>
