<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles.css">
    <title>Add a new message</title>
  </head>
  <body>
    <p>
    <a href="/" style="margin-right: 100px;">Home</a>
  </p>
    <%- include('form')  %>

    <%- include('footer') %>
    <script></script>
  </body>
</html>