 <h1>Message</h1>
    <div>
        
        
         <p>User:<%= message.user %></p>
         <p>Message:<%= message.text %></p>
         <p>Added:<%= (message.added).toLocaleString()%></p>
         <p>Message ID: <%= message.id%></p>
         <a href="/">Go back</a>   
         <hr>
        
    </div>